.vs/
*.user
*.suo
*/bin/*
*/obj/*
*/doc/*
*/*/bin/*
*/*/obj/*
*/log/*
arasdb-local.json
packages/
TestResults/
ArasTools/*/log.xml
ArasTools/*/config.xml
ArasTools/*/BatchLoaderConfig.xml
ArasTools/*/log.txt
*/config.xml
*.log
config.xml
*.TMP
Packages
_ReSharper.Caches/
nunit-report.xml
nunit-report.html
resharper-inspect-report.html
resharper-inspect-report.xml
Docs/log.txt
obj/
Docs/articles/README.md
MigrationBackup/
Cpac.Aras.sln*
