<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net452" />
  <package id="JetBrains.ExternalAnnotations" version="10.2.42" targetFramework="net452" />
  <package id="ManyConsole" version="1.0.0.3" targetFramework="net452" />
  <package id="Mono.Options" version="5.3.0.1" targetFramework="net452" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
</packages>